body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 7px 7px 7px 7px;
  text-align: left;
  line-height: 18px;
  background: white;
  opacity: 1;
  border-radius: 5%;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 2px;
  opacity: .6;
}